<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2025 crDroid Android Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.oplus.phone">

    <overlay
        android:isStatic="true"
        android:priority="300"
        android:targetPackage="com.android.settings" />
</manifest>
